
body{
  background-image: url(images/mouth/mouth3.gif);

  background-size: cover;
  height: 100vh;
  margin: 0px;
  cursor: url(images/wash.png), auto;


}


.mouth2{
  position: absolute;
  top: 30px;
  right: -100px;
  transition-property: all;
  transition-duration: 0.5s;

}

.mouth4{
  position: absolute;
  top: 30px;
  left:10px;
  transition-property: all;
  transition-duration: 0.5s;

}

.mouth5{
  position: absolute;
  top: 400px;
  left: 520px;
  transition-property: all;
  transition-duration: 0.5s;

}

.mouth6{
  position: absolute;
  top: 10px;
  right: -100px;
  transition-property: all;
  transition-duration: 0.5s;

}
